* {
    margin: 0;
    padding: 0;
    border:1px solid white;
    box-sizing: border-box;
}
body{
    background-position: center;
    background-attachment: scroll;
}
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(Images/Homepage.jpg);
    background-size: cover;   /*image puri aye*/
    background-position: center;   /*image centre mein aye*/
    height: 100vh; /*Full vertical height*/
}
.main{
    color: white;
    padding-top: 50%;
    padding-left: 100%;
    width: 3000px;
    transform: translate(-50%,-50%);
    text-align: center;
}
.main h1{
    font-size: 100px;
}
nav{
    color: white;
    height: 4vh;
    margin-top: 0.5cm;
    position: fixed;
    left:55%
}
nav a{
    text-decoration: none;
    color: white;
    padding: 0.75cm;
}
.Typesofhouse{
    color: white;
    background-color: black;
    background-size: cover;   /*image puri aye*/
    background-position: center;   /*image centre mein aye*/
    height: 105vh; /*Full vertical height*/
}
.Typesofhouse h2{
    text-transform: uppercase;
    color: white;
    font-size: 400%;
    text-align: center;
    padding: 2%;
    padding-top: 3%;
}

.Typesofhouse li{
    text-transform: uppercase;
    font-size: 80%;
    text-align: right;
    list-style-type: none;
    width: 25%;
    float: left;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 2%;
}
.Typesofhouse li>p{
    padding-left: 0;
    margin-left: 0;
    width: 50vh;
    padding-top: 0;
    text-align: center;
}
.Typesofhouse li>video,li>img{
    padding-left: 0;
    margin-left: 0;
    width: 30vh;
    height: 30vh;
    padding-top: 0;
    text-align: center;
}
.FeedBack{
    background-color: #f2f2f2;
    padding: 1%;
}

.Typesofhouse p{
    clear: both;
    position: relative;
    padding-top: 30px;
}
.FeedBack h2{
    text-align: center;
    font-size: 200%;
}
.FeedBack label{
    padding-left: 0.5%;
}
.FeedBack input,textarea{
    margin: 0.25%;
    padding: 1%;
    width: 100%;
    overflow: auto;
}
.FeedBack input[type="submit"]{
    background-color: white;
    font-size: 125%;

}
.Contactus{
    height: 100vh;
    padding-top: 45px;
    text-align: Center;
    background-color: black;
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(Images/Team.jpg);
    background-size: cover;   /*image puri aye*/
    background-position: center;   /*image centre mein aye*/
    height: 100vh; /*Full vertical height*/
}
.Contactus h2{
    font-size: 350%;
    padding-bottom: 40px;
}
a{
    color: white;
    text-decoration: none;
}
.Contactus p,ul>li{
    padding: 23px;
    font-size: 150%;
}
.Aboutus{
    background-color: Black;
    color: white;
}
.Aboutus h2{
    text-align: center;
    font-size: 300%;
    padding-bottom: 20px;
}
footer{
    padding: 20px;
    background-color: black;
    color:white;
    text-align: center;
}
img,video{
    height:200px;
    width: 200px;
    border-radius: 40px;
    object-fit: fill;
}

